<%- include('partials/header') %>
    <div class="card mt-5 mb-5">
        <div class="card-header p-4">
            <h1 class="text-center">SQLite Bread(Browse, Read, Edit, Add, Delete) and Pagination</h1>
        </div>
        <form action="" autocomplete="off">
            <input type="hidden" name="page" value="1">
            <div class="m-3 row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" value="<%= name %>" placeholder="Insert your name">
                </div>
            </div>
            <div class="m-3 row">
                <label for="height" class="col-sm-2 col-form-label">Height</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="height" name="height" value="<%= height %>" placeholder="Insert your height">
                </div>
            </div>
            <div class="m-3 row">
                <label for="weight" class="col-sm-2 col-form-label">Weight</label>
                <div class="col-sm-10">
                    <input type="number" step="0.001" class="form-control" id="weight" name="weight" value="<%= weight %>" placeholder="Insert your weight">
                </div>
            </div>
            <div class="m-3 row">
                <label for="birthdateFrom" class="col-sm-2 col-form-label">Birth Date</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="birthdateFrom" name="birthdateFrom" value="<%= birthdateFrom %>">
                </div>
                <div class="col-sm-2">
                    <span class="text-center d-block">s.d</span>
                </div>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="birthdateTo" name="birthdateTo" value="<%= birthdateTo %>">
                </div>
            </div>
            <div class="m-3 row">
                <label for="married" class="col-sm-2 col-form-label">Is Married</label>
                <div class="col-sm-10">
                    <select id="married" class="form-select" name="married">
                        <option value="" selected>- Select Married -</option>
                        <option value="true" <%= married == "true" ? "selected" : "" %>>Yes</option>
                        <option value="false" <%= married == "false" ? "selected" : "" %>>Not yet</option>
                    </select>
                </div>
            </div>
            <div class="m-3 row">
                <label for="" class="col-sm-2 col-form-label">Operation</label>
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="operation" id="operationOr" value="OR" <%= operation == "OR" ? "checked" : "" %>>
                    <label class="form-check-label" for="operationOr">OR</label>
                </div>
                <div class="form-check col-sm-1">
                    <input class="form-check-input" type="radio" name="operation" id="operationAnd" value="AND" <%= operation == "AND" ? "checked" : "" %>>
                    <label class="form-check-label" for="operationAnd">AND</label>
                </div>
            </div>
            <div class="m-3 row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-info w-25">Search</button>
                    <a href="/" class="btn btn-warning w-25">Reset</a>
                </div>
            </div>
        </form>

        <div class="m-3 row">
            <hr>
        </div>

        <table class="table table-striped">
            <thead>
                <th>No.</th>
                <th>Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Birth Date</th>
                <th>Is Married</th>
                <th>actions</th>
            </thead>
            <tbody>
                <% datas.forEach((data, index)=> { %>
                    <tr>
                        <td>
                            <%= index + offset + 1 %>
                        </td>
                        <td>
                            <%= data.name %>
                        </td>
                        <td>
                            <%= data.height ? data.height : "" %>
                        </td>
                        <td>
                            <%= data.weight ? data.weight : "" %>
                        </td>
                        <td>
                            <%= data.birthdate %>
                        </td>
                        <td>
                            <%= data.married ? 'Yes' : 'Not yet' %>
                        </td>
                        <td>
                            <a href="/edit/<%= data.id %>" class="btn btn-success w-25">Update</a>
                            <a href="/delete/<%= data.id %>" class="btn btn-danger w-25" data-bs-toggle="modal"
                                data-bs-target="#deleteModal<%= data.id %>">Delete</a>
                        </td>
                        <div class="modal fade" id="deleteModal<%= data.id %>" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah kamu yakin akan menghapus data '<%= data.name %>'
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary w-25"
                                            data-bs-dismiss="modal">No</button>
                                        <a href="/delete/<%= data.id%>" class="btn btn-warning w-25">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <div class="card-footer">
            <div class="m-3 row">
                <div class="col-sm-5">
                    <a href="/add" class="btn btn-primary w-25">Add</a>
                </div>
                <div class="col-sm-7 d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <% if (page> 1){ %>
                            <li class="page-item">
                                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) - 1}`) %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% }%>
                        <% for (let i=1; i <=pages; i++){ %>
                            <li class="page-item">
                                <a class="page-link <%= page == i ? 'active' : '' %>" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>
                        <% if (page < pages){ %>
                            <li class="page-item">
                                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <%}%>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

        <%- include('partials/footer') %>